.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
}

.title {
  background-color: #d7f5fb;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  margin-bottom: 1rem;
}
