$primary-color: #708ed4;
$secondary-color: #495057;
$natural-color: white;
$basic-button-color: #868e96;
$basic-change-color: #adb5bd;
$body-font-size: 16px;
$title-font-size: 24px;
$basic-padding: 5px;
$basic-height: 35px;
